body{
    background-color: rgb(22, 22, 22);
}
/* .description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
} */
.menu{
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
}
/* #home-page{
    display: none;
} */
#sign-up-form{
    width: 700px;
    margin: auto;
}
#sign-up, #sign-in{
    display: none;
}
#sign-in-form{
 width: 400px;
 height: 320px;
 margin: auto;
}
#profileMenu, #signOutMenu{
    display: none;
}